.footer{
    background-color: #1a1a1a;
    min-height: 20vh;
    padding-top: 20px;
    width: 100%;
    color: white;
}
.footer-content{
    display: flex;
    justify-content: space-around;
    
}
.social-media{
    display: flex;
    padding: 10px;
}
.social-media p{
    padding: 10px;
    font-size: 25px;
    color: white;
}
.social-media p:hover{
    color:lightsalmon ;
}
.footer-list a{
    text-decoration: none;
}
.footer-list{
    display: flex;
    justify-content: space-around;
    padding: 60px 20px;
    margin-top: 20px;
}
.footer-list p{
    font-size: 20px;
    padding: 10px;
    color: white;
}
.footer{
    margin-top: 50px;
}
.head-content{
    font-size: 20px;
    color: white;
}
.head-content h1{
    padding: 10px;
    color: white;
}
@media screen and (min-width:300px) and (max-width:500px){
    .footer-content{
        flex-direction: column;
    } 
    .footer-list{
        flex-direction: column;
        margin-top: -10px;
    }
    .social-media{
        margin-left: 80px;
    }
    .footer-list h2{
        padding:15px;
    }
    .head-content p{
        padding: 15px;
    }
    
}