.card-image img{
   width: 100%;
   height: 230px;
   padding: 20px;
}
.card-content p{
   font-size: 16px;
   line-height: 25px;
   margin-left: 50px;
   width: 80%;
   text-align: justify;

}
.card-content button{
   padding: 7px;
   font-size: 18px;
   border-radius: 5px;
   margin-top: 10px;
   margin-left: -180px;
   background-color: coral;
   border: none;
}
.card-content button:hover{
   background-color: lightsalmon;

}
.pack-container{
   width: 100%;
}
.pack-card{
   width: 80%;
   /* background-color: aquamarine; */
   height: 100%;
   box-shadow: 2px 3px 5px 5px rgba(0,0,0,0.5);
   padding-bottom: 20px;
}
.card-content span{
   font-size: 26px;
   color: orange;
   margin-left: -130px;
   /* margin-top: 40px; */
   padding-top: 20px;
   text-align: left;
}
.card-content h3{
   margin-left:50px;
   font-size: 20px;
   text-align: left;
}


   